.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

img {
    background-color: #add8e6;
    float: left;
}

body {
    width: 1000px;
}

.header {
    margin-bottom: 15px;
}

.hd_rigth {
    justify-content: right;
    height: 60px;
    width: 800px;
    display: grid;
    place-items: center;
}

.head1 {
    background-color: #87ceeb;
    float: left;
}

.head2 {
    background-color: #00ffff;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #87ceeb;
    margin-top: 5px;
    margin-bottom: 5px;
}

td {
    background-color: #e0ffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    background-color: #00ced1;
    height: 50px;
    margin-top: 15px;
}
